### Import Required Libraries and Set Up Environment Variables

In [1]:
# Dependencies
import requests
import time
from dotenv import load_dotenv
import os
import pandas as pd
import json
import urllib.parse

In [2]:
pip install python-dotenv

Requirement already satisfied: python-dotenv in /Users/beau/anaconda3/envs/dev/lib/python3.10/site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Set environment variables from the .env in the local environment
load_dotenv()

nyt_api_key = os.getenv("NYT_API_KEY")
tmdb_api_key = os.getenv("TMDB_API_KEY")

In [4]:
print(nyt_api_key)
print(tmdb_api_key)

1b5zds6gWGokXaLgBHuj9hd6jSCI66lE
fde780b993cb280d3ebc6b7301d20281

### Access the New York Times API

In [5]:
# Set the base URL
url = "https://api.nytimes.com/svc/search/v2/articlesearch.json?"

# Filter for movie reviews with "love" in the headline
# section_name should be "Movies"
# type_of_material should be "Review"
filter_query = 'section_name:"Movies" AND type_of_material:"Review" AND headline:"love"'

# Use a sort filter, sort by newest
sort = "newest"

# Select the following fields to return:
# headline, web_url, snippet, source, keywords, pub_date, byline, word_count
field_list = "headline,web_url,snippet,source,keywords,pub_date,byline,word_count"

# Search for reviews published between a begin and end date
begin_date = "20130101"
end_date = "20230531"

# Build URL
#api_key = "1b5zds6gWGokXaLgBHuj9hd6jSCI66lE" 
api_key = tmdb_api_key

query_url = (f"{url}api-key={nyt_api_key}&begin_date={begin_date}&end_date={end_date}&fq={filter_query}&sort={sort}&fl={field_list}")

print(query_url)

https://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=1b5zds6gWGokXaLgBHuj9hd6jSCI66lE&begin_date=20130101&end_date=20230531&fq=section_name:"Movies" AND type_of_material:"Review" AND headline:"love"&sort=newest&fl=headline,web_url,snippet,source,keywords,pub_date,byline,word_count

In [6]:
# Create an empty list to store the reviews
reviews_list = []

# loop through pages 0-19
for page in range(3):
    # create query with a page number
    page_url = f"{query_url}&page={page}"
    # API results show 10 articles at a time
    print(f"Retrieving page {page} of reviews...")
    
    # Make a "GET" request and retrieve the JSON
    response = requests.get(page_url)
    reviews = response.json()
    
    # Add a twelve second interval between queries to stay within API query limits
    time.sleep(12)
    
    # Try and save the reviews to the reviews_list
    try:
        # loop through the reviews["response"]["docs"] and append each review to the list
        for review in reviews["response"]["docs"]:
            reviews_list.append(review)

        # Print the page that was just retrieved
        print(f"Page {page} retrieved") 

    except KeyError:
        # Print the page number that had no results then break from the loop
        print(f"No results on page {page}")
        break

Retrieving page 0 of reviews...

Page 0 retrieved
Retrieving page 1 of reviews...
Page 1 retrieved
Retrieving page 2 of reviews...
Page 2 retrieved

In [7]:
# Preview the first 5 results in JSON format
# Use json.dumps with argument indent=4 to format data
print(json.dumps(reviews_list[:5], indent=4))

[
    {
        "web_url": "https://www.nytimes.com/2023/05/25/movies/the-attachment-diaries-review.html",
        "snippet": "A gynecologist and her patient form a horrifyingly twisted connection in this batty, bloody Argentine melodrama.",
        "source": "The New York Times",
        "headline": {
            "main": "\u2018The Attachment Diaries\u2019 Review: Love, Sick",
            "kicker": null,
            "content_kicker": null,
            "print_headline": "The Attachment Diaries",
            "name": null,
            "seo": null,
            "sub": null
        },
        "keywords": [
            {
                "name": "subject",
                "value": "Movies",
                "rank": 1,
                "major": "N"
            },
            {
                "name": "creative_works",
                "value": "The Attachment Diaries (Movie)",
                "rank": 2,
                "major": "N"
            },
            {
                "name": "persons",
                "value": "Diment, Valentin Javier",
                "rank": 3,
                "major": "N"
            }
        ],
        "pub_date": "2023-05-25T11:00:03+0000",
        "byline": {
            "original": "By Jeannette Catsoulis",
            "person": [
                {
                    "firstname": "Jeannette",
                    "middlename": null,
                    "lastname": "Catsoulis",
                    "qualifier": null,
                    "title": null,
                    "role": "reported",
                    "organization": "",
                    "rank": 1
                }
            ],
            "organization": null
        },
        "word_count": 295
    },
    {
        "web_url": "https://www.nytimes.com/2023/05/04/movies/whats-love-got-to-do-with-it-review.html",
        "snippet": "Two childhood friends navigate cultural differences in this pleasantly uncontentious romantic comedy.",
        "source": "The New York Times",
        "headline": {
            "main": "Review: \u2018What\u2019s Love Got to Do With It?\u2019 Probably a Lot",
            "kicker": null,
            "content_kicker": null,
            "print_headline": "What\u2019s Love Got to Do With It?",
            "name": null,
            "seo": null,
            "sub": null
        },
        "keywords": [
            {
                "name": "subject",
                "value": "Movies",
                "rank": 1,
                "major": "N"
            },
            {
                "name": "persons",
                "value": "Kapur, Shekhar",
                "rank": 2,
                "major": "N"
            },
            {
                "name": "persons",
                "value": "James, Lily",
                "rank": 3,
                "major": "N"
            },
            {
                "name": "persons",
                "value": "Azmi, Shabana",
                "rank": 4,
                "major": "N"
            },
            {
                "name": "persons",
                "value": "Thompson, Emma",
                "rank": 5,
                "major": "N"
            }
        ],
        "pub_date": "2023-05-04T17:16:45+0000",
        "byline": {
            "original": "By Jeannette Catsoulis",
            "person": [
                {
                    "firstname": "Jeannette",
                    "middlename": null,
                    "lastname": "Catsoulis",
                    "qualifier": null,
                    "title": null,
                    "role": "reported",
                    "organization": "",
                    "rank": 1
                }
            ],
            "organization": null
        },
        "word_count": 287
    },
    {
        "web_url": "https://www.nytimes.com/2023/05/04/movies/you-can-live-forever-review.html",
        "snippet": "Religion comes between two girls falling in love in the 1990s in this sweet coming-of-age film bathed in grunge hues.",
        "source": "The New York Times",
        "headline": {
            "main": "\u2018You Can Live Forever\u2019 Review: Do You Love Me Now?",
            "kicker": null,
            "content_kicker": null,
            "print_headline": "You Can Live Forever",
            "name": null,
            "seo": null,
            "sub": null
        },
        "keywords": [
            {
                "name": "subject",
                "value": "Movies",
                "rank": 1,
                "major": "N"
            },
            {
                "name": "creative_works",
                "value": "You Can Live Forever (Movie)",
                "rank": 2,
                "major": "N"
            },
            {
                "name": "persons",
                "value": "Slutsky, Mark",
                "rank": 3,
                "major": "N"
            },
            {
                "name": "persons",
                "value": "Watts, Sarah (Film Director)",
                "rank": 4,
                "major": "N"
            },
            {
                "name": "persons",
                "value": "O'Driscoll, Anwen",
                "rank": 5,
                "major": "N"
            },
            {
                "name": "persons",
                "value": "Laporte, June (Actor)",
                "rank": 6,
                "major": "N"
            }
        ],
        "pub_date": "2023-05-04T11:00:08+0000",
        "byline": {
            "original": "By Elisabeth Vincentelli",
            "person": [
                {
                    "firstname": "Elisabeth",
                    "middlename": null,
                    "lastname": "Vincentelli",
                    "qualifier": null,
                    "title": null,
                    "role": "reported",
                    "organization": "",
                    "rank": 1
                }
            ],
            "organization": null
        },
        "word_count": 294
    },
    {
        "web_url": "https://www.nytimes.com/2023/04/21/movies/a-tourists-guide-to-love-review.html",
        "snippet": "Rachael Leigh Cook stars in this bland rom-com as a travel executive exploring Vietnam and getting over a breakup.",
        "source": "The New York Times",
        "headline": {
            "main": "\u2018A Tourist\u2019s Guide to Love\u2019 Review: A Wearyingly Familiar Trip",
            "kicker": null,
            "content_kicker": null,
            "print_headline": "A Tourist\u2019s  Guide to Love",
            "name": null,
            "seo": null,
            "sub": null
        },
        "keywords": [
            {
                "name": "subject",
                "value": "Movies",
                "rank": 1,
                "major": "N"
            },
            {
                "name": "creative_works",
                "value": "A Tourist's Guide to Love (Movie)",
                "rank": 2,
                "major": "N"
            },
            {
                "name": "persons",
                "value": "Tsuchida, Steven",
                "rank": 3,
                "major": "N"
            },
            {
                "name": "persons",
                "value": "Cook, Rachael Leigh",
                "rank": 4,
                "major": "N"
            }
        ],
        "pub_date": "2023-04-21T07:03:25+0000",
        "byline": {
            "original": "By Elisabeth Vincentelli",
            "person": [
                {
                    "firstname": "Elisabeth",
                    "middlename": null,
                    "lastname": "Vincentelli",
                    "qualifier": null,
                    "title": null,
                    "role": "reported",
                    "organization": "",
                    "rank": 1
                }
            ],
            "organization": null
        },
        "word_count": 276
    },
    {
        "web_url": "https://www.nytimes.com/2023/04/20/movies/other-peoples-children-review.html",
        "snippet": "A radiant Virginie Efira stars as a Parisian teacher who blissfully falls for a man and his 4-year-old daughter, complicating everyone\u2019s lives.",
        "source": "The New York Times",
        "headline": {
            "main": "\u2018Other People\u2019s Children\u2019 Review: True Romance",
            "kicker": "Critic\u2019s pick",
            "content_kicker": null,
            "print_headline": "Intoxicating Love With a Sobering Turn",
            "name": null,
            "seo": null,
            "sub": null
        },
        "keywords": [
            {
                "name": "subject",
                "value": "Movies",
                "rank": 1,
                "major": "N"
            },
            {
                "name": "persons",
                "value": "Zlotowski, Rebecca",
                "rank": 2,
                "major": "N"
            },
            {
                "name": "creative_works",
                "value": "Other People's Children (Movie)",
                "rank": 3,
                "major": "N"
            }
        ],
        "pub_date": "2023-04-20T15:35:13+0000",
        "byline": {
            "original": "By Manohla Dargis",
            "person": [
                {
                    "firstname": "Manohla",
                    "middlename": null,
                    "lastname": "Dargis",
                    "qualifier": null,
                    "title": null,
                    "role": "reported",
                    "organization": "",
                    "rank": 1
                }
            ],
            "organization": null
        },
        "word_count": 801
    }
]

In [8]:
# Convert reviews_list to a Pandas DataFrame using json_normalize()
df = pd.json_normalize(reviews_list)

In [9]:
# Extract the title from the "headline.main" column and
# save it to a new column "title"
# Title is between unicode characters \u2018 and \u2019. 
# End string should include " Review" to avoid cutting title early
df['title'] = df['headline.main'].str.extract("\u2018(.+?)\u2019 Review")

In [10]:
# Extract 'name' and 'value' from items in "keywords" column
def extract_keywords(keyword_list):
    extracted_keywords = ""
    for item in keyword_list:
        # Extract 'name' and 'value'
        keyword = f"{item['name']}: {item['value']};" 
        # Append the keyword item to the extracted_keywords list
        extracted_keywords += keyword
    return extracted_keywords

# Fix the "keywords" column by converting cells from a list to a string
df['keywords'] = df['keywords'].apply(extract_keywords)

In [11]:
# Create a list from the "title" column using to_list()
# These titles will be used in the query for The Movie Database
titles = df['title'].to_list()

### Access The Movie Database API

In [12]:
# Prepare The Movie Database query
url = "https://api.themoviedb.org/3/search/movie?query="
tmdb_key_string = "&api_key=" + tmdb_api_key

In [13]:
tmdb_key_string

'&api_key=fde780b993cb280d3ebc6b7301d20281'

In [14]:
print(tmdb_api_key)

fde780b993cb280d3ebc6b7301d20281

In [16]:
# Create an empty list to store the results
tmdb_movies_list = []

# Create a request counter to sleep the requests after a multiple
# of 50 requests
request_counter = 0
# Loop through the titles
for title in titles:
    # Check if we need to sleep before making a request
    if request_counter > 0 and request_counter % 50 == 0:
        print("Sleeping for 5 seconds...")
        time.sleep(5)
    # Add 1 to the request counter
    request_counter += 1
    # Perform a "GET" request for The Movie Database
    response = requests.get(f"https://api.themoviedb.org/3/search/movie?query={title}&api_key={tmdb_api_key}")

    # Include a try clause to search for the full movie details.
    # Use the except clause to print out a statement if a movie
    # is not found.
    try:
        movie_id = response.json()["results"][0]["id"]
        movie_response = requests.get(f"https://api.themoviedb.org/3/movie/{movie_id}?api_key={tmdb_api_key}")
        movie_data = movie_response.json()
        
        # Extract the genre names into a list
        genres = [genre["name"] for genre in movie_data["genres"]]


        # Extract the spoken_languages' English name into a list
        spoken_languages = [lang["english_name"] for lang in movie_data["spoken_languages"]]

        # Extract the production_countries' name into a list
        production_countries = [country["name"] for country in movie_data["production_countries"]]
        # Add the relevant data to a dictionary and
        # append it to the tmdb_movies_list list
        movie_data_dict = {
            "title": movie_data["title"],
            "release_date": movie_data["release_date"],
            "runtime": movie_data["runtime"],
            "genres": genres,
            "spoken_languages": spoken_languages,
            "production_countries": production_countries
        }
        tmdb_movies_list.append(movie_data_dict)
        # Print out the title that was found
        print(f"Movie found: {title}")

    except IndexError:
        # Print out the title that was not found
        print(f"Movie not found: {title}")
        break

Movie found: The Attachment Diaries
Movie found: nan
Movie found: You Can Live Forever
Movie found: A Tourist’s Guide to Love
Movie found: Other People’s Children
Movie found: One True Loves
Movie found: The Lost Weekend: A Love Story
Movie found: A Thousand and One
Movie found: Your Place or Mine
Movie found: Love in the Time of Fentanyl
Movie found: Pamela, a Love Story
Movie found: In From the Side
Movie found: After Love
Movie found: Alcarràs
Movie found: Nelly & Nadine
Movie found: Lady Chatterley’s Lover
Movie found: The Sound of Christmas
Movie found: The Inspection
Movie found: Bones and All
Movie found: My Policeman
Movie found: About Fate
Movie found: Waiting for Bojangles
Movie found: I Love My Dad
Movie found: A Love Song
Movie found: Alone Together
Movie found: Art of Love
Movie found: The Wheel
Movie found: Thor: Love and Thunder
Movie found: Both Sides of the Blade
Movie found: Fire of Love

In [ ]:
# Preview the first 5 results in JSON format
# Use json.dumps with argument indent=4 to format data
print(json.dumps(tmdb_movies_list[:5], indent=4))

[
    {
        "title": "The Attachment Diaries",
        "release_date": "2021-10-07",
        "runtime": 102,
        "genres": [
            "Drama",
            "Mystery",
            "Thriller",
            "Horror"
        ],
        "spoken_languages": [
            "Spanish"
        ],
        "production_countries": [
            "Argentina"
        ]
    },
    {
        "title": "Bread",
        "release_date": "2008-09-08",
        "runtime": 30,
        "genres": [
            "Drama",
            "Crime"
        ],
        "spoken_languages": [
            "Dutch",
            "Kurdish"
        ],
        "production_countries": [
            "Belgium",
            "Iraq"
        ]
    },
    {
        "title": "You Can Live Forever",
        "release_date": "2023-03-24",
        "runtime": 96,
        "genres": [
            "Drama",
            "Romance"
        ],
        "spoken_languages": [
            "English",
            "French"
        ],
        "production_countries": [
            "Canada",
            "United States of America"
        ]
    },
    {
        "title": "A Tourist's Guide to Love",
        "release_date": "2023-04-21",
        "runtime": 96,
        "genres": [
            "Romance",
            "Comedy"
        ],
        "spoken_languages": [
            "English",
            "Vietnamese"
        ],
        "production_countries": [
            "United States of America"
        ]
    },
    {
        "title": "Other People's Children",
        "release_date": "2022-09-21",
        "runtime": 104,
        "genres": [
            "Drama",
            "Comedy"
        ],
        "spoken_languages": [
            "English",
            "French"
        ],
        "production_countries": [
            "France"
        ]
    }
]

In [ ]:
# Convert the results to a DataFrame
tmdb_df = pd.DataFrame(tmdb_movies_list)
tmdb_df

,title,release_date,runtime,genres,spoken_languages,production_countries
0,The Attachment Diaries,2021-10-07,102,"[Drama, Mystery, Thriller, Horror]",[Spanish],[Argentina]
1,Bread,2008-09-08,30,"[Drama, Crime]","[Dutch, Kurdish]","[Belgium, Iraq]"
2,You Can Live Forever,2023-03-24,96,"[Drama, Romance]","[English, French]","[Canada, United States of America]"
3,A Tourist's Guide to Love,2023-04-21,96,"[Romance, Comedy]","[English, Vietnamese]",[United States of America]
4,Other People's Children,2022-09-21,104,"[Drama, Comedy]","[English, French]",[France]
5,One True Loves,2023-04-07,100,"[Romance, Drama, Comedy]","[English, Spanish]","[Czech Republic, United States of America]"
6,The Lost Weekend: A Love Story,2023-04-13,95,[Documentary],[English],[United States of America]
7,A Thousand and One,2023-03-31,116,"[Drama, Crime]","[English, Portuguese, Spanish]",[United States of America]
8,Your Place or Mine,2023-02-10,109,"[Romance, Comedy]",[English],[United States of America]
9,Love in the Time of Fentanyl,2023-02-03,85,[Documentary],[English],"[Canada, United States of America]"
10,"Pamela, A Love Story",2023-01-30,113,[Documentary],[English],[United States of America]
11,In from the Side,2022-09-16,134,"[Drama, Romance]",[English],[United Kingdom]
12,After Love,2021-06-04,89,[Drama],"[English, Arabic, French, Urdu]",[United Kingdom]
13,Alcarràs,2022-04-29,120,[Drama],[Catalan],[Spain]
14,Nelly and Monsieur Arnaud,1995-08-23,106,"[Drama, Romance]",[French],"[Germany, France, Italy]"
15,Lady Chatterley's Lover,2022-11-22,126,"[Drama, Romance]",[English],"[United Kingdom, United States of America]"
16,The Sound of Christmas,2022-11-24,0,"[TV Movie, Drama]",[English],[United States of America]
17,The Inspection,2022-11-18,95,[Drama],"[Arabic, Spanish, English]",[United States of America]
18,Bones and All,2022-11-18,131,"[Drama, Horror, Romance]",[English],"[Italy, United States of America]"
19,My Policeman,2022-10-20,113,"[Drama, Romance]",[English],"[United Kingdom, United States of America]"
20,About Fate,2022-09-08,100,"[Romance, Comedy]",[English],[United States of America]
21,Waiting for Bojangles,2021-10-13,124,"[Drama, Comedy, Romance]","[English, French, Spanish]","[France, United States of America]"
22,I Love My Dad,2022-08-05,90,[Comedy],[English],[United States of America]
23,A Circus Tale & A Love Song,,114,"[Romance, Drama]","[English, Spanish]",[Mexico]
24,Alone Together,2022-07-22,101,"[Romance, Drama]",[English],[United States of America]
25,Art of Love,2024-03-14,99,"[Romance, Action, Drama]",[Turkish],[Turkey]
26,2099: The Soldier Protocol,2019-09-02,82,"[Action, Science Fiction]",[English],[Australia]
27,Thor: Love and Thunder,2022-07-06,119,"[Fantasy, Action, Comedy]",[English],[United States of America]
28,Both Sides of the Blade,2022-07-08,117,"[Drama, Romance]",[French],[France]
29,Fire of Love,2022-07-06,93,[Documentary],"[English, French, Spanish, Portuguese]","[Canada, United States of America]"

### Merge and Clean the Data for Export

In [ ]:
# Merge the New York Times reviews and TMDB DataFrames on title
merged_df = pd.merge(df, tmdb_df, on="title", how="left")

In [ ]:
# Remove list brackets and quotation marks on the columns containing lists
# Create a list of the columns that need fixing
columns_to_fix = ["genres", "spoken_languages", "production_countries", "keywords", "byline.person", "source"]

# Create a list of characters to remove
characters_to_remove = ["[", "]", "'"]

# Loop through the list of columns to fix
for column in columns_to_fix:

    # Convert the column to type 'str'
    merged_df[column] = merged_df[column].astype(str)




    # Loop through characters to remove
    for character in characters_to_remove:

        # Remove the character from the column
        merged_df[column] = merged_df[column].str.replace(character, "")




# Display the fixed DataFrame
merged_df

KeyError: 'byline.person'

In [ ]:
# Print all column names
print(merged_df.columns)

# Check if "byline.person" is in columns before dropping
if "byline.person" in merged_df.columns:
    merged_df = merged_df.drop(columns=["byline.person"])
else:
    print("Column 'byline.person' does not exist in DataFrame")

Index(['web_url', 'snippet', 'source', 'keywords', 'pub_date', 'word_count',
       'headline.main', 'headline.kicker', 'headline.content_kicker',
       'headline.print_headline', 'headline.name', 'headline.seo',
       'headline.sub', 'byline.original', 'byline.organization', 'title',
       'release_date', 'runtime', 'genres', 'spoken_languages',
       'production_countries'],
      dtype='object')
Column 'byline.person' does not exist in DataFrame

In [ ]:
# Drop "byline.person" column
merged_df = merged_df.drop(columns=["byline.person"])

KeyError: "['byline.person'] not found in axis"

In [ ]:
# Delete duplicate rows and reset index
merged_df = merged_df.drop_duplicates().reset_index(drop=True)

In [ ]:
# Export data to CSV without the index
merged_df.to_csv("output/nyt_movie_reviews.csv", index=False)